{% extends "base.html" %}
{% block title %}Kategorie{% endblock %}
{% block content %}
<!-- Kategorien -->
  <div class="flex justify-center space-x-20 mt-12">
    <!-- Bücher -->
    <div class="text-center">
      <img src="https://upload.wikimedia.org/wikipedia/en/8/88/The_Dark_Tower_VII_-_The_Dark_Tower_hardcover.jpg" alt="Bücher" class="h-60 mx-auto"/>
      <a href="#" class="text-blue-700 text-3xl underline mt-2 block">Bücher</a>
    </div>

    <!-- Elektronik -->
    <div class="text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Laptop_with_RGB_keyboard.png" alt="Elektronik" class="h-60 mx-auto"/>
      <a href="#" class="text-purple-800 text-3xl underline mt-2 block">Elektronik</a>
    </div>

    <!-- Kleidung -->
    <div class="text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Levis_505.png" alt="Kleidung" class="h-60 mx-auto"/>
      <a href="#" class="text-blue-700 text-3xl underline mt-2 block">Kleidung</a>
    </div>
  </div>
{% endblock %}