<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Onlineshop Warenwelt</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles_ele.css') }}">
</head>

<body>
	<div id="div3" class="class3"></div>
	<div id="div6" class="class3"><a href="index">Onlineshop Warenwelt</a>
		<div id="div13" class="class13">&gt; Elektronik &lt;</div>
		<div id="div33" class="class13">In den Warenkorb</div>
		<div id="div49" class="class13">Laptop 1</div>
		<div id="div50" class="class13">Laptop 2</div>
		<div id="div52" class="class13">1200,00 Euro</div>
		<div id="div54" class="class13">Laptop 3</div>
		<div id="div56" class="class13">1000,00 Euro</div>
		<div id="div57" class="class13">800,00 Euro</div>
		<div id="div58" class="class13">In den Warenkorb</div>
		<div id="div59" class="class13">In den Warenkorb</div>
	</div>
	<!--<a href="warenkorb"><img src="img/cart.png" id="img17"></a>-->
	<div id="div20" class="class21"><a href="warenkorb">Waren</a></div>
	<div id="div21" class="class21"><a href="{{ url_for('logout') }}">{{ logout_text }}</a></div>
	<div id="div22" class="class21"><a href="registrierung">Registrieren</a></div>
	<img src="img/laptop.jpg" id="img51" class="class51">
	<img src="img/laptop.jpg" id="img53" class="class51">
	<img src="img/laptop.jpg" id="img55" class="class51">
	<div id="div23" class="class22">Laptop 1</div>
	<div id="div24" class="class22">Laptop 2</div>
	<div id="div25" class="class22">Laptop 3</div>
	<div id="div26" class="class22">1000 Euro</div>
	<div id="div27" class="class22">1400 Euro</div>
	<div id="div28" class="class22">800 Euro</div>
	<div id="div29" class="class23"><a href="warenkorb">In den Einkaufskorb</a></div>
	<div id="div30" class="class23"><a href="warenkorb">In den Einkaufskorb</a></div>
	<div id="div31" class="class23"><a href="warenkorb">In den Einkaufskorb</a></div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
