<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Onlineshop Warenwelt</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles_cart.css') }}">
</head>

<body>
	<div id="div3" class="class3"></div>
	<div id="div6" class="class3"><a href="index">Onlineshop Warenwelt</a>
	<div id="div13" class="class13">&gt; Warenkorb &lt;</div>
	
	</div>
	<!--<img src="img/cart.png" id="img17">-->
	<div id="div20" class="class21">Waren</div>
	<div id="div21" class="class21"><a href="{{ url_for('logout') }}">{{ logout_text }}</a></div>
	<div id="div22" class="class21"><a href="registrierung">Registrieren</a></div>
	<div id="div34" class="class13">Warenkorb</div>
	<div id="div24" class="class13">Produkt 1</div>
	<div id="div25" class="class13">Kosten: ....</div>
	<div id="div26" class="class13">(Entfernen)</div>
	<div id="div27" class="class13">Produkt 2</div>
		<div id="div28" class="class13">Kosten:</div>
		<div id="div29" class="class13">(Entfernen)</div>
		<div id="div30" class="class13">Produkt 2</div>
		<div id="div31" class="class13">Kosten:</div>
		<div id="div32" class="class13">(Entfernen)</div>
		<div id="div33" class="class13">Bestellen</div>
	<div id="div23"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
